# Dataset - too large for GitHub
dataset/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
.env
.venv
venv/
ENV/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
